/* vars */
:root {
  --navbar-bg: white;
  --nlink-col: black;
  --jumbotron-bg: rgba(75,235,74,.4);
  --footer-bg: #eee;
  --link-color: #428bca;
  --text-color: #333;
  --border-color: 0,0,0;
  --box-hover-color: #eee;
}

/* global */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-color);
}
a {
  color: var(--link-color);
  text-decoration: none;
}

/* navbar */
.navbar {
  width: 100%;
  height: 50px;
  background-color: var(--navbar-bg);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(var(--border-color),.3);
  z-index: 100;
}
.nlogo {
  height: 40px;
}
.nlink {
  text-decoration: none;
  color: var(--nlink-col);
}

/* main */
.container {
  margin-top: 51px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  width: 100%; 
  margin-left: 0;
  margin-right: 0;
  position: static;
}

/* jumbotron */
.jumbotron {
  background: var(--jumbotron-bg);
  width: 100%;
}
.child {
  text-align: center;
}
.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.box {
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 5px;
  border: 1px solid rgb(var(--border-color));
  flex-basis: 30%;
  height: 105px;
  background-color: #fff;
}
.box:hover, .box:active {
  background-color: var(--box-hover-color);
}
.title {
  text-align: center;
}

/* articles feed */
h1 {
  margin: 0;
}
div.art {
  border-top: 1px solid rgba(var(--border-color),.3);
}
div.art:last-child {
  border-bottom: none;
}
h3.art {
  margin: 0;
}
p.art {
  margin: 0;
}
p.art-ingress {
  font-style: italic;
  margin: 0;
}
p.art-date {
  color: #ccc;
  margin-top: 0;
}
p.art-link {
  margin-top: 0;
}

/* footer */
.footer {
  background: var(--footer-bg);
  width: device-width;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .footerchild p {
  margin: 0;
}
.footerline {
  border-right: 1px solid #000;
  height: 100%;
}