/* vars */
:root {
  --navbar-bg: white;
  --jumbotron-bg: rgba(75,235,74,.4);
  --footer-bg: 36,62,22;
  --copyright-bg: 0,0,0;
  --link-color: #428bca;
  --nlink-col: black;
  --text-color: #333;
  --footer-text-color: #fff;
  --border-color: 0,0,0;
  --footer-border-color: 255,255,255;
  --box-hover-color: #eee;
  --box-round: 10px;
}

/* global */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-color);
}
a {
  color: var(--link-color);
  text-decoration: none;
}

/* order */
.jumbotron {
  order: 0;
}
.navkinks {
  order:1;
}
.main {
  order: 2;
}

/* navbar */
.navbar {
  width: 100%;
  height: 50px;
  background-color: var(--navbar-bg);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(var(--border-color),.3);
  z-index: 100;
}
.nlogo {
  height: 40px;
}
.navlinks {
  display: flex;
  justify-content: space-around;
  fkex-wrap: nowrap;
}
.nlink {
  text-decoration: none;
  color: var(--nlink-col);
}

/* main */
.container {
  margin-top: 51px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  width: 100%; 
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  fkex-wrap: wrap;
  justify-content: space-between;
}

/* jumbotron */
.jumbotron {
  background: var(--jumbotron-bg);
  width: 100%;
  flex-basis: 100%;
  -webkit-border-bottom-right-radius: var(--box-round);
  -webkit-border-bottom-left-radius: var(--box-round);
  -moz-border-radius-bottomright: var(--box-round);
  -moz-border-radius-bottomleft: var(--box-round);
  border-bottom-right-radius: var(--box-round);
  border-bottom-left-radius: var(--box-round);
}
.child {
  text-align: center;
}
.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.box {
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  margin-bottom: 5px;
  border: 1px solid rgb(var(--border-color));
  flex-basis: 30%;
  height: 105px;
  background-color: #fff;
  border-radius: var(--box-round);
  -webkit-border-radius: var(--box-round);
  -moz-border-radius: var(--box-round);
}
.box:hover,
.box:active {
  background-color: var(--box-hover-color);
}
.box-center {
  margin-top: 22.5px;
  margin-left: 5px;
  margin-right: 5px;
}
.title {
  text-align: center;
}

/* articles feed */
h1 {
  margin: 0;
}
div.art {
  border-bottom: 1px solid rgba(var(--border-color),.3);
}
div.art:last-child {
  border-bottom: none;
}
h3.art {
  margin-bottom: 0;
}
p.art {
  margin: 0;
}
p.art-ingress {
  font-style: italic;
  margin: 0;
}
p.art-date {
  color: #ccc;
  margin: 0;
}
p.art-link {
  margin-top: 0;
}

/* help */
.hmain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
a.hchild {
  color: var(--text-color);
  height: 40px;
  width: 95%;
  text-align: center;
  border-top: 1px solid rgba(var(--border-color),.6);
  border-left: 1px solid rgba(var(--border-color),.6);
  border-right: 1px solid rgba(var(--border-color),.6);
}
a.hchild:hover,
a.hchild:active {
  background-color: var(--box-hover-color);
}
.hchild:first-child {
  margin-top: 10px;
  -webkit-border-top-left-radius: var(--box-round);
  -webkit-border-top-right-radius: var(--box-round);
  -moz-border-radius-topleft: var(--box-round);
  -moz-border-radius-topright: var(--box-round);
  border-top-left-radius: var(--box-round);
  border-top-right-radius: var(--box-round);
}
.hchild:last-child {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(var(--border-color),.6);
  -webkit-border-bottom-right-radius: var(--box-round);
  -webkit-border-bottom-left-radius: var(--box-round);
  -moz-border-radius-bottomright: var(--box-round);
  -moz-border-radius-bottomleft: var(--box-round);
  border-bottom-right-radius: var(--box-round);
  border-bottom-left-radius: var(--box-round);
}

/* footer */
.footer {
  background: rgb(var(--footer-bg));
  color: var(--footer-text-color);
  width: device-width;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
/*  -webkit-border-top-left-radius: var(--box-round);
  -webkit-border-top-right-radius: var(--box-round);
  -moz-border-radius-topleft: var(--box-round);
  -moz-border-radius-topright: var(--box-round);
  border-top-left-radius: var(--box-round);
  border-top-right-radius: var(--box-round);*/
}
@media all and (max-width: 500px) {
  .footer {
    flex-direction: column;
  }
  .footerchild {
    width: 100%;
    border-bottom: 1px solid rgba(var(--footer-border-color),.5);
  }
  .footerchild:last-child {
  border: none;
  }
}
.footerchild ul,
.footerchild ul ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footerchild ul ul {
  padding-left: 2em;
}
.footer h2, .footer h3 {
margin: 0;
}
.footer .footerchild p {
  margin: 0;
}
.copyright {
  background: rgba(var(--copyright-bg),.5);
  height: 50px;
}
