<<<<<<< HEAD
/* reset css for browser compat */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 16px;
  color: #222222;
=======
/* vars */
:root {
  --navbar-bg: white;
  --nlink-col: black;
  --jumbotron-bg: rgba(75,235,74,.4);
  --footer-bg: #eee;
  --link-color: #428bca;
  --text-color: #333;
  --border-color: 0,0,0;
  --box-hover-color: #eee;
  --box-round: 10px;
}

/* global */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-color);
}
a {
  color: var(--link-color);
  text-decoration: none;
>>>>>>> a76ce2ec5a7fbf382a09e6e87b16841374fe28a0
}

/* navbar */
.navbar {
  width: 100%;
  height: 50px;
  background-color: var(--navbar-bg);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid rgba(var(--border-color),.3);
  z-index: 100;
}
.nlogo {
  height: 40px;
}
/* navigation links */
.navlinks {
        position: relative;
        display: table;
        height: 50px;
        margin: 0 20px;
        list-style-type: none;
}

.navlinks > li {
  text-decoration: none;
<<<<<<< HEAD
  font-size: 20px;
  color: black;
  float: left;
  display: table-cell;
  margin: 0 15px;
  padding-top: 25px;
  transform: translate(0, -25%); /* I have no idea how or why this works but it just does. */
  cursor: pointer; /* for pseudo-links to still feel like links */
=======
  color: var(--nlink-col);
>>>>>>> a76ce2ec5a7fbf382a09e6e87b16841374fe28a0
}

/* main */
.container {
  margin: 51px 0 0; /* merged margins into one */
  padding: 0;
  width: 100%; 
<<<<<<< HEAD
  position: relative;
  height: auto;
  min-height: 100%; /* height is needed for some properties */
=======
  margin-left: 0;
  margin-right: 0;
  position: static;
>>>>>>> a76ce2ec5a7fbf382a09e6e87b16841374fe28a0
}

/* jumbotron */
.jumbotron {
<<<<<<< HEAD
  color: white;
  height: 50%;
  width: 100%;
  top: 50%;
  margin: 5% 0;
  position: relative;
  display: flex;
  padding: 25px;
  wrap-flex: wrap;
  justify-content: center;
  align-items: center;
=======
  background: var(--jumbotron-bg);
  width: 100%;
  -webkit-border-bottom-right-radius: var(--box-round);
  -webkit-border-bottom-left-radius: var(--box-round);
  -moz-border-radius-bottomright: var(--box-round);
  -moz-border-radius-bottomleft: var(--box-round);
  border-bottom-right-radius: var(--box-round);
  border-bottom-left-radius: var(--box-round);
>>>>>>> a76ce2ec5a7fbf382a09e6e87b16841374fe28a0
}
.child {
  text-align: center;
}
.box {
  text-align: center;
  text-decoration: none;
<<<<<<< HEAD
  color: black;
  margin: 0 1%;
  margin-bottom: 5px;
  border: 1px solid #000;
  height: 250px;
  background-color: #fff;
  border-radius: 10px;
  width: 350px;
  display: inline-block;
=======
  color: var(--text-color);
  margin-bottom: 5px;
  border: 1px solid rgb(var(--border-color));
  flex-basis: 30%;
  height: 105px;
  background-color: #fff;
  border-radius: var(--box-round);
  -webkit-border-radius: var(--box-round);
  -moz-border-radius: var(--box-round);
>>>>>>> a76ce2ec5a7fbf382a09e6e87b16841374fe28a0
}
.box:hover, .box:active {
  background-color: var(--box-hover-color);
}
.title {
  text-align: center;
}

/* a big welcome for newcomers ;) */
.welcome-big {
  position: relative;
  margin-top: 51px;
  border-bottom: 1px solid #888;
  width: 100%;

  background: rgb(65,225,64); /* fallback */
  background: rgba(15, 75, 14, .6);

  padding: 10%;

  text-align: center;
  color: white;
  text-shadow: 0 3px 6px rgba(0,0,0, 0.16), 0 3px 6px rgba(0,0,0, 0.21);

  box-shadow: 0 3px 5px rgba(0,0,0, 0.36);

  height: 50%;

  overflow: hidden;
  vertical-align: bottom;
}

.welcome-big h1 { /* make this stand out */
  font-size: 50px;
  line-height: 80px;
} 

.welcome-big h3 {
  font-size: 22px;
  width: 70%;
  margin: 0 auto;
  vertical-align: middle;
  }

.welcome-learnmore {
  border: 1px solid #666;
  background-color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  padding: 5px 8px;

  border-radius: 8px;

  box-shadow: 0 3px 6px rgba(0,0,0, 0.16), 0 3px 6px rgba(0,0,0, 0.21);

  display: block;
  position: relative;
  margin: 0 auto;
  vertical-align: middle;
  bottom: -50%;
  transform: translate(0, 50%);

  }
/* articles feed */
h1 {
  margin: 0;
}
div.art {
  border-bottom: 1px solid rgba(var(--border-color),.3);
}
div.art:last-child {
  border-bottom: none;
}
h3.art {
  margin-bottom: 0;
}
p.art {
  margin: 0;
}
p.art-ingress {
  font-style: italic;
  margin: 0;
}
p.art-date {
  color: #ccc;
  margin: 0;
}
p.art-link {
  margin-top: 0;
}

/* help */
.hmain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
a.hchild {
  color: var(--text-color);
  height: 40px;
  width: 95%;
  text-align: center;
  border-top: 1px solid rgba(var(--border-color),.6);
  border-left: 1px solid rgba(var(--border-color),.6);
  border-right: 1px solid rgba(var(--border-color),.6);
}
a.hchild:hover, a.hchild:active {
  background-color: var(--box-hover-color);
}
.hchild:first-child {
  margin-top: 10px;
  -webkit-border-top-left-radius: var(--box-round);
  -webkit-border-top-right-radius: var(--box-round);
  -moz-border-radius-topleft: var(--box-round);
  -moz-border-radius-topright: var(--box-round);
  border-top-left-radius: var(--box-round);
  border-top-right-radius: var(--box-round);
}
.hchild:last-child {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(var(--border-color),.6);
  -webkit-border-bottom-right-radius: var(--box-round);
  -webkit-border-bottom-left-radius: var(--box-round);
  -moz-border-radius-bottomright: var(--box-round);
  -moz-border-radius-bottomleft: var(--box-round);
  border-bottom-right-radius: var(--box-round);
  border-bottom-left-radius: var(--box-round);
}

/* footer */
.footer {
<<<<<<< HEAD
  background: #666; /* >:^) */
  width: 100%;
  /* margin and padding are reset at line 1-5 */
  display: flex;
  flex-wrap: wrap;
  color: #eee;
  font-size: 18px;
  line-height: 22px;
  
  min-height: 22px;
  height: auto;

  position: fixed;
  bottom: 0;
} /* plz no justify ;_; */

.footer a {
  text-decoration: none;
  color: #7bf;
  }

.footer-links {
  position: absolute;
  right: 0;
  margin-right: 8px;
  }
=======
  background: var(--footer-bg);
  width: device-width;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
/*  -webkit-border-top-left-radius: var(--box-round);
  -webkit-border-top-right-radius: var(--box-round);
  -moz-border-radius-topleft: var(--box-round);
  -moz-border-radius-topright: var(--box-round);
  border-top-left-radius: var(--box-round);
  border-top-right-radius: var(--box-round);*/
}
.footer .footerchild p {
  margin: 0;
}
.footerline {
  border-right: 1px solid #000;
  height: 100%;
}
>>>>>>> a76ce2ec5a7fbf382a09e6e87b16841374fe28a0
