language: python
python:
- '3.5'
install: pip install -e git+https://github.com/edk0/cms7.git#egg=cms7
script: cms7
before_install:
- openssl aes-256-cbc -K $encrypted_ac880c30010f_key -iv $encrypted_ac880c30010f_iv
  -in .deploy-key.enc -out .deploy-key -d
after_success: deploy.sh
