language: python
dist: xenial
python:
- '3.5'
install: pip install -r requirements.txt
script:
- standard
- cms7 -e config/local.travis.yml
before_install:
- pip install --upgrade pip setuptools
- . $HOME/.nvm/nvm.sh
- nvm install 10.16.0
- nvm use 10.16.0
- npm install -g postcss-cli svgo standard uglify-js
- npm install
- openssl aes-256-cbc -K $encrypted_key1_key -iv $encrypted_key1_iv
  -in deploy/key1.enc -out deploy/key1 -d && chmod go-rwx deploy/key1 || true
-  openssl aes-256-cbc -K $encrypted_key2_key -iv $encrypted_key2_iv
  -in deploy/key2.enc -out deploy/key2 -d && chmod go-rwx deploy/key2 || true
after_success: ./deploy/deploy.sh
notifications:
  email: false
