@font-face {
    font-family: 'trumpnode';
    src:    url('../fonts/trumpnode.eot?2vz2mq');
    src:    url('../fonts/trumpnode.eot?2vz2mq#iefix') format('embedded-opentype'),
        url('../fonts/trumpnode.ttf?2vz2mq') format('truetype'),
        url('../fonts/trumpnode.woff?2vz2mq') format('woff'),
        url('../fonts/trumpnode.svg?2vz2mq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="fn-"], [class*=" fn-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'trumpnode' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fn-d:before {
    content: "\e900";
}
.fn-e:before {
    content: "\e901";
}
.fn-f:before {
    content: "\e902";
}
.fn-n:before {
    content: "\e903";
}
.fn-o:before {
    content: "\e904";
}
.fn-r:before {
    content: "\e905";
}

