/* vars */
:root {
    --navbar-bg: #292f2f;
    --jumbotron-bg: #294848;
    --copyright-bg: #292f2f;
    --link-color: 66,139,202;
    --footer-link-color: #ddd;
    --nlink-col: #000;
    --text-color: #333;
    --footer-text-color: #eee;
    --copyright-text-color: #ccc;
    --jumbotron-text-color: #eee;
    --border-color: #292f2f;
    --box-hover-color: #ddd;
    --box-round: 10px;
}

/* reset css for browser compat */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global */
body {
    font-family: 'Open Sans';
    color: var(--text-color);
    font-size: 14px;
    min-height: 100vh;
    height: auto;
}

a {
    color: rgb(var(--link-color));
    text-decoration: none;
}

/* navbar */
.navbar {
    width: 100%;
    height: 50px;
    background-color: var(--navbar-bg);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    z-index: 100;
}

@media all and (max-width: 600px) {
    .navbar {
        position: absolute;
    }
}

.navbar a {
    height: 40px;
}

a.nav-light {
    background-color: #eee;
    height: 44px;
    padding: 2px;
    margin-right: 3px;
}

.nlogo {
    height: 40px;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.nlink {
    text-decoration: none;
    color: var(--nlink-col);
}

/* main */
.container {
    padding: 50px 0 0;
    width: 100%;
    min-height: 98vh;
    padding-bottom: 11.5rem;
}

.main {
    margin: 0 .5em;
    margin-top: 1em;
}

.main h1,
.main h2,
.main h3,
.main p + p {
    margin-top: .5em;
}

/* jumbotron */
.jumbotron {
    position: relative;
    width: 100%;
    margin-top: -16px;
    background: #000;
    background: var(--jumbotron-bg);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
    color: var(--jumbotron-text-color);
    padding: 2em 0;
}

.child {
    text-align: center;
    margin: .5em;
    font-size: 32px;
    line-height: 48px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    max-width: 800px;
    margin: 0 auto;
}

.box {
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 5px;
    padding: 5px;
    flex-basis: 30%;
    background-color: #fff;
    border-radius: var(--box-round);
    -webkit-border-radius: var(--box-round);
    -moz-border-radius: var(--box-round);
}

.box span {
    display: block;
}

.box:hover,.box:active {
    background-color: var(--box-hover-color);
}

.box div{
    font-size: 28px;
    line-height: 28px;
    padding-left: 8px;
    font-weight: 700;
    position: relative;
    display: inline;
    top: -10px;
}

.fa-users {
    margin-top: 5px;
}

.fa-comment,.fa-question {
    margin-bottom: 5px;
}

.fa-4x {
    padding-left: 8px;
}

.title {
    text-align: center;
}

/* articles feed */
h1 {
    margin: 0;
}

div.art {
    clear: right;
    margin-top: .5em;
    min-height: 2em;
}

div.art:not(:first-child) {
    border-top: 1px solid var(--border-color);
}

b.art {
    margin-bottom: 0;
    font-size: 18px;
}

p.art {
    margin: 0;
}

p.art-ingress {
    font-style: italic;
    margin: 0;
}

.art-date {
    float: right;
    color: #ccc;
    margin: 0 .5em;
}

p.heading {
    white-space: nowrap;
}

p.art-link {
    margin-top: 0;
}

/* Article */
.art-full h1,
.art-full h2,
.art-full h3,
.art-full h4 {}

/* help */
.hmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

a.hchild {
    color: var(--text-color);
/*height: 40px;*/
    width: 95%;
    text-align: center;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

a.hchild:hover,a.hchild:active {
    background-color: var(--box-hover-color);
}

.hchild:first-child {
    margin-top: 10px;
    -webkit-border-top-left-radius: var(--box-round);
    -webkit-border-top-right-radius: var(--box-round);
    -moz-border-radius-topleft: var(--box-round);
    -moz-border-radius-topright: var(--box-round);
    border-top-left-radius: var(--box-round);
    border-top-right-radius: var(--box-round);
}

.hchild:last-child {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
    -webkit-border-bottom-right-radius: var(--box-round);
    -webkit-border-bottom-left-radius: var(--box-round);
    -moz-border-radius-bottomright: var(--box-round);
    -moz-border-radius-bottomleft: var(--box-round);
    border-bottom-right-radius: var(--box-round);
    border-bottom-left-radius: var(--box-round);
}

/* footer */
.footers {
    /*min-height: 30vh;*/
    margin-top: -11rem;
    min-height: 11rem;
}

.footer {
    background: var(--jumbotron-bg);
    color: var(--footer-text-color);
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 -3px 5px rgba(150,150,150,.36);
    min-height: 9.5rem;
}

.footerchild {
    margin-top: .5em;
    flex: 1 1 1px;
    min-width: 12rem;
}

.footerchild:last-child {
    margin-bottom: 1em;
}

@media all and (max-width: 60rem) {
    .footer-push {
        margin-left: auto;
        width: max-content;
    }
}

.footer a {
    color: var(--footer-link-color);
}

.footer h2 {
    margin-bottom: .1em;
    display: inline-block;
}

.footerchild ul,.footerchild ul ul {
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
}

.footerchild ul ul {
    padding-left: 30px;
}

@media all and (max-width: 600px) {
    .footer {
        flex-direction: column;
    }

    .footerchild {
        width: 100%;
    }

    .footer-push {
        margin-left: 0;
    }

    .footerchild ul li:last-child {
        margin-bottom: .5em;
    }

    .hdn {
        display: none;
    }

    .box {
        text-align: center;
    }

    .child {
        font-size: 20px;
        line-height: 30px;
        padding: 10px 0 5px;
    }

    .fa-4x {
        padding: 0;
        margin: 0;
    }

    .box-container {
        flex-direction: column;
        margin: 0 .5em;
    }

    .box div {
        position: relative;
        top: initial;
        font-size: 16px;
        font-weight: normal;
        line-height: 16px;
        padding: 10px 0;
        display: block;
    }
}

.footer h2,.footer h3 {
    margin-left: 10px;
    margin-right: 10px;
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: var(--copyright-bg);
    min-height: 1.5rem;
    color: var(--copyright-text-color);
}

a.copyright {
    background: var(--copyright-bg);
    margin-bottom: 0;
    margin-top: 0;
    margin-left: .5em;
    margin-right: .5em;
    width: auto;
    height: auto;
}

.copyright a img {
    height: 1.5rem;
    width: auto;
}

.copyright p {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: .5em;
    margin-right: .5em;
    text-align: right;
}
