{% extends "base.html" %}
{% block content %}
<div class="art">
    <p><b class="art">{{ article.title }}</b>&nbsp;
    <span class="art-date">{{ article.datetime }} by {{ article.author }}</span></p>
    <p class="art-ingress">{{ article.content }}</p>
    {#
    <p class="art-link"><a href="{{ previous }}">Previous</a></p>
    <p class="art-link"><a href="{{ previous }}">Next</a></p>
    #}
    <a href="{{ url_for("archive.html") }}" class="art-link"><i class="fa fa-rss"></i>
                News Archive</a>
</div>
{% endblock content %}
