{% macro info(article, what="h1") %}
<a href="{{ article.url }}"><{{what}} class="art">{{ article.title }}</{{what}}></a>
<span class="art-date">{{ article.author }} on {{ article.datetime.astimezone().date() }}</span>
{% endmacro %}

{% macro nav(article) %}
<div class="art-nav">
    {% if article.older -%}
    <span><a href="{{ article.older.url }}">previous article</a><span class="invisible">, </span></span>
    {%- else -%}
    <span></span>
    {%- endif -%}
    <span><a href="{{ url_for("archive") }}">all</a></span>
    {%- if article.newer -%}
    <span><span class="invisible">, </span><a href="{{ article.newer.url }}">next article</a></span>
    {%- else -%}
    <span></span>
    {%- endif %}
</div>
{% endmacro %}
