{% extends "base.html" %}
{% import "artinfo.html" as artinfo with context %}
{% set title=article.title %}
{% block content %}
<div class="main">
    {%- if article.source.meta.imported is defined %}
    <div class="art-warning">
        This article was imported from freenode's wordpress blog, and is
        likely out of date. It's preserved here in the interest of
        history, but please don't treat it as an authoritative source in
        any context. Links on this page may be out of date and broken.
    </div>
    {%- endif %}
    <div class="art-info">
        {{ artinfo.info(article) }}
    </div>
    <div class="art-body">
    {{ article.render() }}
    </div>
    {{ artinfo.nav(article) }}
</div>
{% endblock content %}
