<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="theme-color" content="#bd3e7f">
    <meta name="description" content="{{ config.DESCRIPTION }}">
    <link rel="icon" href="{{ url_for("static/img/logos/coloured-alphabg-sq-120.png") }}">
    <title>{% block title %}{{ title }} - {{ config.name }}{% endblock %}</title>
    {%- for stylesheet in ['open-sans.css', 'font-awesome.css', 'april.css'] %}
    <link href="{{ url_for("static/css/" + stylesheet) }}?{{ git_hash }}" rel="stylesheet">
    {%- endfor %}
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for("index") }}"><img alt="freenode logo" class="nlogo" src="{{ url_for("static/img/logos/coloured-alphabg.svg") }} "></a>
        <a href="https://www.privateinternetaccess.com/pages/buy-vpn/freend/" target="_blank"><img alt="Private Internet Access" class="nlogo" src="{{ url_for("static/img/logos/PIALogo_white.svg") }}"></a>
        <a class="invisible" href="#navigation">Jump to navigation</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <div class="footers">
        <a name="navigation"/>
        {% include "footer.html" %}
    </div>
    {% include "analytics.html" %}
</body>
</html>
