<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {#- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags #}
    <meta name="theme-color" content="#292f2f">
    <meta name="description" content="{{ config.DESCRIPTION }}">
    <link rel="icon" href="{{ url_for("static/img/logos/coloured-alphabg-sq-120.png") }}">
    {%- block links %}
    <link rel="alternate" type="application/rss+xml" href="{{ url_for("news/rss") }}" title="news (rss)">
    <link rel="alternate" type="application/atom+xml" href="{{ url_for("news/atom") }}" title="news (atom)">
    {%- endblock %}
    <title>{% block title %}{{ title }} - {{ config.name }}{% endblock %}</title>
    {%- for stylesheet in ['open-sans.css', 'font-awesome.css', 'style.css'] %}
    <link href="{{ url_for("static/css/" + stylesheet) }}?{{ git_hash }}" rel="stylesheet">
    {%- endfor %}
</head>
<body>
    <nav class="navbar">
        <a id="nav-jump" class="invisible" href="#navigation">Jump to navigation</a>
        <a id="nav-logo" href="{{ url_for("index") }}"><img alt="freenode" class="nlogo" src="{{ url_for("static/img/logos/coloured-alphabg.svg") }} "></a>
        <a id="nav-pia" href="https://www.privateinternetaccess.com/pages/buy-vpn/freend/" target="_blank"><img alt="Private Internet Access" class="nlogo" src="{{ url_for("static/img/logos/PIALogo_white.svg") }}"></a>
        <form id="nav-search" action="https://www.google.com/cse">
            <input type="hidden" name="cx" value="partner-pub-3720690829065633:9p8fr4-u91g">
            <input type="hidden" name="ie" value="ISO-8859-1">
            <label for="search" class="invisible">Query:</label>
            <input id="nav-searchbox" type="text" name="q">
            <label id="nav-label" for="nav-searchbox"><i class="fa fa-search fa-lg"></i></label>
            <input id="nav-submit" type="submit" class="invisible" value="Search">
        </form>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <div class="footers">
        <a name="navigation"></a>
        {% include "footer.html" %}
    </div>
    {% include "analytics.html" %}
</body>
</html>
