<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="theme-color" content="#292f2f">
    <meta name="description" content="freenode IRC network">
    <link rel="icon" href="{{ url_for("static/img/logos/coloured-alphabg-sq-120.png") }}">
    <title>{{ title }}</title>
    <link href="{{ url_for("static/css/open-sans.css") }}" rel="stylesheet">
    <link href="{{ url_for("static/css/font-awesome.min.css") }}" rel="stylesheet">
    <link href="{{ url_for("static/css/freenode.css") }}" rel="stylesheet">
    <link href="{{ url_for("static/css/style.css") }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for("index") }}"><i></a>
        <a href="https://www.privateinternetaccess.com/" target="_blank"><img alt="Private internet access" class="nlogo" src="{{ url_for("static/img/logos/PIALogo_white.svg") }}"></a>
    </nav>
    <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="footers">
            {% include "footer.html" %}
    </div>
    {% include "analytics.html" %}
</body>
</html>
