{% extends "base.html" %}
{% set title = index.title %}
{% block content %}
{% if index.promote %}
<div class="jumbotron">
    <h1 class="child">{{ index.title }}</h1>
    <div class="box-container">
    {% for button in index.promote %}
        <a class="box" href="{{ button.entry.url }}">
            <i class="fa fa-{{ button.icon }} fa-4x"></i>
            <span>{{ button.caption }}</span>
        </a>
    {% endfor %}
    </div>
</div>
<div class="main">
{% else %}
<div class="main">
<h1>{{ index.title }}</h1>
{% endif %}
<ul class="kb-index">
    {%- for entry in index.entries -%}
    <li><a href="{{ entry.url }}">
        <h2>{{ entry.title }}</h2>
        <span class="kb-description">{# XXX text text text #}</span>
    </a></li>
    {%- endfor %}
</ul>
</div>
{% endblock content %}
