<footer class="footer">
    <div class="footer-container">
    {% for footer in config.FOOTER %}
    <div class="footerchild">
        <h2>{{ footer.heading }}</h2>
        <ul>
            {% for link in footer.links %}
            {%- if link is mapping %}
            <li>
                <a href="{{ url_for(link.link, ignore_absolute=True) }}">{{ link.name }}</a>
            </li>
            {%- else %}
            <li>
                {% for item in link %}
                {% if item.link is defined %}
                    <a href="{{ url_for(item.link, ignore_absolute=True) }}">{{ item.name }}</a>
                {% else %}
                    {{ item.name }}
                {% endif %}
                {% endfor %}
            </li>
            {%- endif -%}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    <div></div>
    <div class="footerchild">
        <div class="footer-push">
        <h2>Social Media</h2>
        <ul>
            {%- for link in config.SOCIAL %}
            <li>
                <a href="{{ link.link }}" target="_blank">
                    <i class="fa fa-{{ link.icon }} fa-fw"></i> <span class="hdn">{{ link.name }}</span></a>
            </li>
            {%- endfor %}
            <li>
                <a href="{{ url_for("archive") }}"><i class="fa fa-rss fa-fw"></i>
                <span class="hdn">News Archive</span></a>
            </li>
            <li>
                <a href="https://www.privateinternetaccess.com/pages/buy-vpn/freend/" target="_blank">
                    <img alt="PIA" class="fa-fw" src="{{ url_for("static/img/logos/pia-robot-original.svg") }}">
                <span class="hdn">Private Internet Access</span></a>
            </li>
        </ul>
        </div>
    </div>
    </div>
</footer>
<footer class="copyright">
    <div>
    {%- if config.GITHUB_URL is defined %}
    <a href="{{ config.GITHUB_URL }}"><i class="fa fa-github fa-lg"></i></a>&nbsp;
    {% endif -%}
    <a class="copyright" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target= "_blank">
        <img alt="CC by-nc-sa" src="{{ url_for("static/img/by-nc-sa.svg") }}">
    </a>
    </div>
    <div>
        {{ config.COPYRIGHT|safe }}
    </div>
</footer>
