<footer class="footer">
    <div class="footer-container">
    {% for footer in config.FOOTER %}
    <div class="footerchild">
        <h2>{{ footer.heading }}</h2>
        <ul>
            {% for link in footer.links %}
            {%- if link is mapping %}
            <li>
                <a href="{{ url_for(link.link, ignore_absolute=True) }}">{{ link.name }}</a>
            </li>
            {%- else %}
            <li>
                {% for item in link %}
                {% if item.link is defined %}
                    <a href="{{ url_for(item.link, ignore_absolute=True) }}">{{ item.name }}</a>
                {% else %}
                    {{ item.name }}
                {% endif %}
                {% endfor %}
            </li>
            {%- endif -%}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    </div>
</footer>
<footer class="copyright">
    <div>{{ config.COPYRIGHT|safe }}</div>
    <div>
        {%- if config.GITHUB_URL is defined %}
        <a href="{{ config.GITHUB_URL }}" target="_blank" alt="Github"><i class="fa fa-github"></i></a>
        {% endif -%}
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" alt="Creative Commons"><i class="fa fa-creative-commons"></i></a>
        {%- for link in config.SOCIAL %}
        <a href="{{ link.link }}" target="_blank" alt="{{ link.name }}"><i class="fa fa-{{ link.icon }}"></i></a>
        {% endfor %}
    </div>
</footer>
