{% extends "base.html" %}
{% block title %}{{ config.name }}{% endblock %}
{% import "artinfo.html" as artinfo %}
{% block content %}
<div class="jumbotron">
    <h2 class="child">Welcome to freenode&thinsp;—&thinsp;supporting free and open source communities since 1998</h2>
    <div class="box-container">
        <a class="box" href="{{ url_for("kb/index/chat") }}">
            <i class="fa fa-comment fa-4x"></i>
            <div>Chat</div>
        </a>
        <a class="box" href="#">
            <i class="fa fa-users fa-4x"></i>
            <div>Register a group</div>
        </a>
        <a class="box" href="{{ url_for("kb/index/tech") }}">
            <i class="fa fa-question fa-4x"></i>
            <div>FAQ</div>
        </a>
    </div>
</div>
<div class="main">
    {% with article = get_module("news").articles[-1] %}
    {{ artinfo.info(article) }}
    <div class="art-body">{{ article.render() }}</div>
    <div class="art-nav">
        <span></span>
        <a href="{{ url_for("archive") }}">all</a>
        <span></span>
    </div>
    {% endwith %}
</div>
{% endblock content %}
