{% extends "base.html" %}
{% block title %}{{ config.name }}{% endblock %}
{% import "artinfo.html" as artinfo %}
{% block content %}
<div class="jumbotron jindex">
    <h2 class="child">Welcome to <img alt="freenode" class="tlogo" src="{{ url_for("static/img/logos/coloured-alphabg.svg") }}" />&thinsp;—&thinsp;supporting free and open source communities since 1998</h2>
    <div class="box-container">
        <a class="box" href="//webchat.freenode.net">
            <i class="fa fa-comments fa-4x"></i>
            <span>Chat</span>
        </a>
        <a class="box" href="#">
            <i class="fa fa-users fa-4x"></i>
            <span>Register a group</span>
        </a>
        <a class="box" href="{{ url_for("kb/index/all") }}">
            <i class="fa fa-question fa-4x"></i>
            <span>Knowledge Base</span>
        </a>
    </div>
</div>
<div class="main">
    {% with article = get_module("news").articles[-1] %}
    {{ artinfo.info(article) }}
    <div class="art-body">{{ article.render() }}</div>
    <div class="art-nav">
        <span></span>
        <a href="{{ url_for("archive") }}">view archive</a>
        <span></span>
    </div>
    {% endwith %}
</div>
{% endblock content %}
